:root{
    --border: 2px solid tomato;
}

header{
    border: var(--border);
}

.container{
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-box{
    border:var(--border);
    display: flex;
    flex-direction: column;
}